/*
* By default this file will be overridden with every BetterTouchTool update.
* If you make changes to this file, BTT will not update the file, however 
* features might not work correctly anymore.
*
* If possible only override the BTTNochBarUser.css and BTTNotchBarUser.js.
*
* If you absolutely need to make changes to this file, make sure to integrate the
* changes from /Applications/BetterTouchTool.app/Contents/Resources/NotchBar/
*/

.body::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 0;
  height: 0;
}

/* This is automatically added to the body element if the screen is not active */
.dimmed {
  filter: grayscale(0.7) brightness(85%);
  opacity: 0.5;
}

body {
  background: var(--stream-deck-preview-background);
 
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  font-family: --apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: white;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#BTTStreamDeckPreviewContainer {
  display: grid;
grid-template-columns: repeat(var(--btt-stream-deck-columns), 1fr);
grid-template-rows: repeat(var(--btt-stream-deck-rows), 1fr);
grid-column-gap: 4px;
grid-row-gap: 4px;
margin:3px;
}

.stream-deck-button-image {
  min-width:20px;
  width:100%;
  height:100%;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
  
}

/* .stream-deck-button-image:hover {
  filter: grayscale(0.3) brightness(85%);
  cursor: pointer;

} */