<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>22D68</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>BetterTouchToolIntents</string>
	<key>CFBundleExecutable</key>
	<string>BetterTouchToolIntents</string>
	<key>CFBundleIdentifier</key>
	<string>com.hegenberg.BetterTouchTool.Intents</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>BetterTouchToolIntents</string>
	<key>CFBundlePackageType</key>
	<string>XPC!</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1886</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>14C18</string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>13.1</string>
	<key>DTSDKBuild</key>
	<string>22C55</string>
	<key>DTSDKName</key>
	<string>macosx13.1</string>
	<key>DTXcode</key>
	<string>1420</string>
	<key>DTXcodeBuild</key>
	<string>14C18</string>
	<key>LSMinimumSystemVersion</key>
	<string>11.3</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>IntentsRestrictedWhileLocked</key>
			<array/>
			<key>IntentsRestrictedWhileProtectedDataUnavailable</key>
			<array/>
			<key>IntentsSupported</key>
			<array>
				<string>ActivateHoveredAppInDockIntent</string>
				<string>BluetoothDeviceConnectionIntent</string>
				<string>CallBetterTouchToolScriptingInterfaceIntent</string>
				<string>CloseAllNotificationsIntent</string>
				<string>CloseWindowUnderCursorIntent</string>
				<string>ConnectBluetoothMidiDeviceIntent</string>
				<string>ControlCenterIntent</string>
				<string>ConvertFileOutputToJSONIntent</string>
				<string>ConvertInputListToJSONArrayIntent</string>
				<string>ConvertJSONOutputToFileIntent</string>
				<string>FindImageOnScreenIntent</string>
				<string>FloatOnTopDisableAllIntent</string>
				<string>FloatOnTopIntent</string>
				<string>FloatingWebViewIntent</string>
				<string>GetSelectedTextIntent</string>
				<string>HapticFeedbackIntent</string>
				<string>MinimizeWindowUnderCursorIntent</string>
				<string>MissionControlIntent</string>
				<string>MouseClicksIntent</string>
				<string>MoveMouseIntent</string>
				<string>NightShiftIntent</string>
				<string>PastePreviousClipboardItemsIntent</string>
				<string>RestoreSavedMousePosIntent</string>
				<string>RestoreWindowLayoutIntent</string>
				<string>RunRealJavaScriptIntent</string>
				<string>SaveMousePosIntent</string>
				<string>SaveWindowLayoutIntent</string>
				<string>SendKeyboardShortcutIntent</string>
				<string>ShowClipboardManagerIntent</string>
				<string>ShowHUDIntent</string>
				<string>ShowHideCursorIntent</string>
				<string>ShowMenubarInContextMenuIntent</string>
				<string>SleepDisplayIntent</string>
				<string>SwitchToLoginscreenIntent</string>
				<string>ToggleCursorSizeIntent</string>
				<string>TransformSelectedTextUsingJavaScriptIntent</string>
				<string>TriggerContextMenuItemIntent</string>
				<string>TriggerMenubarItemIntent</string>
				<string>TriggerNamedTriggerIntent</string>
				<string>TypeOrPasteTextIntent</string>
				<string>UploadToIMGURIntent</string>
				<string>ZoomWindowUnderCursorIntent</string>
			</array>
		</dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.intents-service</string>
		<key>NSExtensionPrincipalClass</key>
		<string>IntentHandler</string>
	</dict>
</dict>
</plist>
